h2 {
    margin: 0;
}

h3 {
    margin-top: 20px
}


#password,
input,
#confirm {
    font-size: 3em;
    width: 1ch;
    font-family: monospace;
    border: none;
}

input {
    padding: 5px 10px;
    box-sizing: content-box;
}

#confirm {
    font-weight: bold;
    width: auto;
}

.hover-effect {
    cursor: pointer;
}

@media (max-width: 600px) {
    #board {
        width: 80vw
    }

    #board span {
        height: auto;
        width: 100%;
    }
}